# Webapp bind configuration:
#NITRO_PORT=3000

# MySQL connection parameters:
#DB_HOST=localhost
#DB_PORT=3306
DB_USER=...
DB_PASS=...
DB_NAME=...

# Session secret (random string):
SESSION_SECRET=...

# JWT secret, for password protected projects (random string):
JWT_SECRET=...

# Base URL, without trailing slash, needed for OG images and emailed links:
NUXT_PUBLIC_BASE_URL=

# SMTP configuration
SMTP_FROM=Name <noreply@example.com>
SMTP_REPLY_TO=info@example.com
#SMTP_HOST=localhost
#SMTP_PORT=25
#SMTP_USER=...
#SMTP_PASS=...

# Google Tag Manager
NUXT_PUBLIC_GTM_ID=

# Cloudflare Turnstile (captcha)
NUXT_PUBLIC_TURNSTILE_SITE_KEY=...
NUXT_TURNSTILE_SECRET_KEY=...

# Email subscription
#SUB_DAILY_HOUR=8
#SUB_EVENTS_DEBOUNCE_MINS=60

# Suppress Vue Router warnings
#NODE_ENV=production

# Modification timestamp of the Privacy policy and Terms of Service (UTC)
#NUXT_PUBLIC_TERMS_MOD_AT=2026-09-09T12:00:00Z

# Timestamp from when the GDPR block becomes effective (UTC)
#NUXT_PUBLIC_GDPR_BLOCK_FROM=2027-01-01T00:00:00Z

# Encryption
ENCRYPTION_KEY_PATH=
