{
	"editor.codeActionsOnSave": {
		"source.fixAll.eslint": true
	},
	"eslint.format.enable": true,
	"editor.formatOnPaste": true,
	"editor.defaultFormatter": "dbaeumer.vscode-eslint",
	"[js]": {
		"editor.defaultFormatter": "dbaeumer.vscode-eslint"
	},
	"[json]": {
		"editor.defaultFormatter": "vscode.json-language-features"
	},
	"[jsonc]": {
		"editor.defaultFormatter": "vscode.json-language-features"
	},
	"[vue]": {
		"editor.defaultFormatter": "dbaeumer.vscode-eslint"
	}
}